.div2
{
    display: flex;
    flex-direction: column;
    border: solid 5px red;

}
.div1
{
    text-align:center;
    margin-left: 40%;
    margin-right: 40%;
    background-color: yellow;
    border: solid 5px black;
   
}
.div3
{
    display: flex;
    margin-left: 100px;
    margin-right:100px;
    border: 5px solid green;
    margin-bottom: 50px;
    
}
body
{
    background-color:rgb(10, 65, 128);
}