.div2
{
    display: flex;
    flex-direction: column;

}
.div1
{
    color: white;
    text-align:center;
    margin-left: 40%;
    margin-right: 40%;
    background-color:rgb(22, 101, 192);
    border: 5px solid black;
   
}
.div3
{
    display: flex;
    border: 5px solid black;
    margin-bottom: 50px;
    
}
body
{
    background-color:rgb(10, 65, 128);
    margin-left: 100px;
    margin-right:100px;
}
.bottonesi
{
    background-color:rgb(10, 65, 128);
    color:white;
    border: none;
    padding: 15px;
}
.bottoneno
{
    background-color:rgb(10, 65, 128);
    color: white;
    border: none;
    padding: 15px;
}
.divimmagine
{
    display: flex;
    width:200px;
    height:200px;
    
}
.divtesto
{

    display: flex;
    font-size: 17;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    margin: 0 20 0 20;
    width: 600px;
    height: 200px;
}